body {
  font-family: system-ui, sans-serif;
  background: radial-gradient(circle, #eeaeca, #94bbe9);
  text-align: center;
  margin: 0;
  padding: 1rem;
}

h1 {
  font-weight: 800;
  margin-bottom: 1rem;
}

#calendar-list {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 0.5rem;
  list-style: none;
  padding: 0;
  width: 100%;
  max-width: 700px;
  margin: auto;
}

li {
  background: rgba(255, 255, 255, 0.25);
  border-radius: 10px;
  padding: 0.5rem;
  min-height: 100px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  cursor: pointer;
}

li.today {
  background: #ffffff70;
  border: 2px solid #000;
}

li time {
  font-size: 1.5rem;
  font-weight: 600;
}

.event {
  font-size: 0.7rem;
  margin-top: 0.3rem;
  background: #fff6;
  border-left: 3px solid #333;
  padding-left: 4px;
  text-align: left;
}
.event.promemoria {
  border-color: teal;
}
.event.appuntamento {
  border-color: crimson;
}

#gestione-impegni {
  margin-top: 2rem;
  background: #ffffffaa;
  padding: 1rem;
  border-radius: 8px;
  max-width: 600px;
  margin-inline: auto;
}

#gestione-impegni form {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: 0.5rem;
  margin-bottom: 1rem;
  padding: 1rem;
  background: rgba(255, 255, 255, 0.25);
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  backdrop-filter: blur(4px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.3);
}

#gestione-impegni input,
#gestione-impegni button {
  padding: 0.5rem;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 6px;
  outline: none;
}

#gestione-impegni input:focus {
  border-color: #888;
}

#gestione-impegni button {
  background-color: #5562eb;
  color: white;
  font-weight: bold;
  cursor: pointer;
  border: none;
  transition: background 0.2s;
}

#gestione-impegni button:hover {
  background-color: #3944b3;
}

ul#eventi-giorno {
  text-align: left;
  list-style: none;
  padding: 0;
}

ul#eventi-giorno li {
  padding: 0.25rem 0;
}

ul#eventi-giorno li button {
  float: right;
  background: crimson;
  color: white;
  border: none;
  padding: 2px 5px;
  border-radius: 4px;
  cursor: pointer;
}
