body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  #settingsScreen, #gameScreen {
    text-align: center;
    padding: 20px;
  }
  


  canvas {
    display: block;
    margin: 0 auto;
    border: 2px solid rgb(0, 0, 0);
  }
  
  
  #corretto {
    background-color: green; /* Verde per il pulsante "Corretto" */
    color: white; /* Testo bianco per leggibilità */
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
  }
  
  #sbagliato {
    background-color: red; /* Rosso per il pulsante "Sbagliato" */
    color: white; /* Testo bianco per leggibilità */
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
  }
  
  #corretto:hover {
    background-color: darkgreen; /* Verde scuro al passaggio del mouse */
  }
  
  #sbagliato:hover {
    background-color: darkred; /* Rosso scuro al passaggio del mouse */
  }
  