body {
    font-family: 'Poppins', sans-serif;
    text-align: center;
    text-transform: uppercase;
    background: linear-gradient(135deg, #d6ff9a, #d8fd9f); /* Sfondo sfumato */
    color: #333;
}

h1 {
    font-size: 40px;
    font-weight: bold;
    color: #fff;
    text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);
    padding: 20px;
    border-radius: 10px;
    background: rgba(0, 0, 0, 0.2);
    display: inline-block;
}

button {
    padding: 15px 20px;
    margin: 10px;
    font-size: 20px;
    font-weight: bold;
    border-radius: 8px;
    cursor: pointer;
    background: #facac6;
    color: rgb(0, 0, 0);
    border: none;
    transition: all 0.3s ease-in-out;
}

button:hover {
    transform: scale(1.1);
    background: #ff4733;
}

button:disabled {
    background: #b22222;
    color: white;
}

img {
    width: 200px;
    height: auto;
    margin: 20px;
    opacity: 0;
    transition: opacity 1s ease-in-out;
    border-radius: 15px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
}

.fade-in {
    opacity: 1 !important;
}

#result {
    font-size: 24px;
    font-weight: bold;
    margin-top: 20px;
    opacity: 0;
    transition: opacity 0.5s ease, transform 0.5s ease;
}

.bounce {
    opacity: 1 !important;
    transform: scale(1.2);
}

#exit-button {
    position: absolute;
    top: 20px;
    left: 20px;
    background-color: #ff4d4d;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
    transition: background-color 0.3s ease;
}

#exit-button:hover {
    background-color: #c0392b;
}

